<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
    
    <bean id="friendManagerAction" class="com.hgweibo.action.FriendManagerAction" scope="prototype">
    	<property name="friendManagerService">
    		<ref bean="friendManagerService"/>
    	</property>
    </bean>
    
    <bean id="friendManagerService" class="com.hgweibo.service.impl.FriendManagerServiceImpl" scope="prototype">
		<property name="friendManagerDao">
			<ref bean="friendManagerDao"/>
		</property>
	</bean>
	
	<bean id="friendManagerDao" class="com.hgweibo.dao.impl.FriendManagerDaoImpl" scope="prototype">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient"/>
		</property>
	</bean>
</beans>