<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
    
    <bean id="searchAction" class="com.hgweibo.action.SearchAction" scope="prototype">
    	<property name="searchService">
    		<ref bean="searchService"/>
    	</property>
    </bean>
    
    <bean id="searchService" class="com.hgweibo.service.impl.SearchServiceImpl" scope="prototype">
		<property name="searchDao">
			<ref bean="searchDao"/>
		</property>
	</bean>
	
	<bean id="searchDao" class="com.hgweibo.dao.impl.SearchDaoImpl" scope="prototype">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient"/>
		</property>
	</bean>
</beans>